<app-uheader></app-uheader>
<br>
<br>
<br>
<br>
<div class="abc">
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <mat-card class="mt20" style="margin-top:80px" >
                    <mat-card-header style="margin-left: 320px;">
                        <mat-card-title>

                        <b></b>    Read the Instructions Carefully
                        </mat-card-title>
                        <mat-card-subtitle>
                            One step more to go
                        </mat-card-subtitle>
                        
                    </mat-card-header>

                    
                    </mat-card>
                    <br>
                

                    <mat-card class="mt20" >

                      
                        <mat-card-content>
                            <h1>Important Instructions</h1>
                            
                            <h4> * Every Question Get 1 Mark</h4>
                            <h4> * Select the options appropriately</h4>
                            <h4> * You can select the options multiple times</h4>
                            <h4> * Time is valid </h4>
                        </mat-card-content>


                        <button class="btn btn-dark" style="color:rgb(255, 255, 255);" (click)="Attend()" >Attend</button>
                     
</mat-card>

                
            </div>
        </div>
    </div>
</div>

</div>

<br><br><br><br>





	<app-footer></app-footer>