<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="header" style="padding-top: 50px">
    <nav>
        <ul>
            <li>
                <div class="container">
                    <a style="margin-top: -10px;margin-left:-20px;color: rgb(233, 233, 233);font-size: 15px;" class="navbar-brand" (click)="route()">
                        <img src="https://www.nicepng.com/png/full/61-613644_logo-design-ideas-for-graphic-designers-png-logo.png"
                            alt="" width="36" height="34">&nbsp;<font style="color:#f87851">exaM</font><font style="color:#54d1bc">POrtaL</font>
</a>
                </div>
            </li> 

            <!-- <li> <a class="navbar-brand" style="margin-top: -5px;color:rgb(255, 255, 255);" routerLink="/userDashboard"><b>Home</b></a></li>
            <li> <a class="navbar-brand" style="margin-top: -5px;color:rgb(255, 255, 255);" routerLink="/bookedeventstatus"><b>View Bookings</b></a></li> -->
    
           
            <li style="float:right"><a type="submit" class="fa fa-power-off" style="font-size:35px;margin-top: -10px;color: rgb(224, 224, 223);margin-right: 10px;"
                    (click)="logout()" ></a></li>

                    
                    <!-- <li style="float:right"><a type="submit" class="fa fa-line-chart" style="font-size:35px;margin-top: -10px;color: rgb(224, 224, 223);margin-right: 10px;"
                        routerLink="/chart"></a></li> -->
        
        </ul>
    </nav>
</div>