<app-header></app-header>
<app-nav></app-nav>
<br><br><br><br>

<div class="container pt-5 pb-3 text-center">
    <h1>edit Exam</h1>
</div>

<div class="card m-auto" style="width: 30rem;">

    <div class="card-body">

        <div class="container pt-2">

            <form [formGroup]="editExamForm" class="row g-3" (ngSubmit)="editExam()">

                <div class="col-12">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" formControlName="name" class="form-control"
                        [ngClass]="{'is-invalid':(editExamForm.controls['name'].touched||editExamForm.controls['name'].dirty) && editExamForm.controls['name'].errors}">

                    <div *ngIf="(editExamForm.controls['name'].touched||editExamForm.controls['name'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="editExamForm.controls['name'].errors?.['required']">
                            Name is required.
                        </div>

                    </div>
                    <label for="name" class="text-danger pt-1"></label>
                </div>


                <div class="col-12">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" formControlName="description" class="form-control"
                        [ngClass]="{'is-invalid':(editExamForm.controls['description'].touched||editExamForm.controls['description'].dirty) && editExamForm.controls['description'].errors}">

                    <div *ngIf="(editExamForm.controls['description'].touched||editExamForm.controls['description'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="editExamForm.controls['description'].errors?.['required']">
                            Description is required.
                        </div>

                    </div>
                    <label for="description" class="text-danger pt-1"></label>
                </div>


              

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>
<app-footer></app-footer>