<div class="container pt-5 pb-3 text-center">
    <h1>Exam</h1>
</div>

<div class="card m-auto" style="width: 30rem;">

    <div class="card-body">

        <div class="container pt-2">


            <div class="col-md-12">
                <label class="form-label">Name   : </label>
                <label class="form-label">{{exam.name}}</label>
            </div>
            <div class="col-md-12">
                <label class="form-label">Description   :</label>
                <label class="form-label">{{exam.description}}</label>
            </div>

            <div class="col-md-12">
                <label class="form-label">Created Date  :  </label>
                <label class="form-label">{{exam.createDate}}</label>
            </div>

            <div class="col-md-12">
                <label class="form-label">Update Date  :  </label>
                <label class="form-label">{{exam.updateDate}}</label>
            </div>

            <div class="col-12">
                <!-- <button (click)="editexam(exam.examId)" class="btn btn-primary">Edit</button> -->
            </div>
        </div>
    </div>
</div>