
<br><br>

<br><br><br>

<br>  


<div class="move">
<div class="card" style="width: 4rem;">

    <div class="regbody">

        <div class="container pt-2">

            <form [formGroup]="resetPasswordForm" class="row g-3" (ngSubmit)="resetPassword()">

                <div class="col-12">
                    <label for="password" class="parent"><b>PASSWORD</b></label>
                    <input type="text" formControlpassword="password" class="form-control" formControlName="password">
                </div>


                <div class="col-12">
                    <label for="confirmPassword" class="child"><b>CONFIRM PASSWORD</b></label>
                    <input type="text" formControlpassword="confirmPassword" class="form-control" formControlName="cPassword">

              </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-dark">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div>