

<div class="card m-auto pb-5" style="width: 50rem;">

    <div class="card-body">
        <div class="container pt-5 pb-3 text-center">
            <h1>Add Details</h1>
        </div>

        <div class="container pt-2">

            <form [formGroup]="addContactForm" class="row g-3" (ngSubmit)="addContact()">

                <div class="col-12">
                    <label for="name" class="form-label">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{'is-invalid':(addContactForm.controls['firstName'].touched||addContactForm.controls['firstName'].dirty) && addContactForm.controls['firstName'].errors}">

                    <div *ngIf="(addContactForm.controls['firstName'].touched||addContactForm.controls['firstName'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="addContactForm.controls['firstName'].errors?.['required']">
                            firstName is required.
                        </div>

                    </div>
                    <label for="firstName" class="text-danger pt-1"></label>
                </div>



                <div class="col-12">
                    <label class="form-label">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control"
                        [ngClass]="{'is-invalid':(addContactForm.controls['lastName'].touched||addContactForm.controls['lastName'].dirty) && addContactForm.controls['lastName'].errors}">

                    <div *ngIf="(addContactForm.controls['lastName'].touched||addContactForm.controls['lastName'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="addContactForm.controls['lastName'].errors?.['required']">
                            lastName is required.
                        </div>

                    </div>
                    <label for="lastName" class="text-danger pt-1"></label>
                </div>

        
                <div class="col-12">
                    <label class="form-label">Dob</label>
                    <input type="date" formControlName="dob" class="form-control"
                        [ngClass]="{'is-invalid':(addContactForm.controls['dob'].touched||addContactForm.controls['dob'].dirty) && addContactForm.controls['dob'].errors}">

                    <div *ngIf="(addContactForm.controls['dob'].touched||addContactForm.controls['dob'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="addContactForm.controls['dob'].errors?.['required']">
                            dob is required.
                        </div>

                    </div>
                    <label for="dob" class="text-danger pt-1"></label>
                </div>





                <div class="col-12">
                    <label class="form-label"> Email</label>
                    <input type="text" formControlName="email" class="form-control"
                        [ngClass]="{'is-invalid':(addContactForm.controls['email'].touched||addContactForm.controls['email'].dirty) && addContactForm.controls['email'].errors}">

                    <div *ngIf="(addContactForm.controls['email'].touched||addContactForm.controls['email'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="addContactForm.controls['email'].errors?.['required']">
                            Email is required.
                        </div>

                    </div>
                    <label for="email" class="text-danger pt-1"></label>
                </div>


                <div class="col-12">
                    <label class="form-label">Phone</label>
                    <input type="number" formControlName="phone" class="form-control"
                        [ngClass]="{'is-invalid':(addContactForm.controls['phone'].touched||addContactForm.controls['phone'].dirty) && addContactForm.controls['phone'].errors}">

                    <div *ngIf="(addContactForm.controls['phone'].touched||addContactForm.controls['phone'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="addContactForm.controls['phone'].errors?.['required']">
                            Phone is required.
                        </div>

                    </div>
                    <label for="phone" class="text-danger pt-1"></label>
                </div>

                <div class="col-12">
                    <label class="form-label">Address</label>
                    <input type="text" formControlName="address" class="form-control"
                        [ngClass]="{'is-invalid':(addContactForm.controls['address'].touched||addContactForm.controls['address'].dirty) && addContactForm.controls['address'].errors}">

                    <div *ngIf="(addContactForm.controls['address'].touched||addContactForm.controls['address'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="addContactForm.controls['address'].errors?.['required']">
                            address is required.
                        </div>

                    </div>
                    <label for="address" class="text-danger pt-1"></label>
                </div>

                <div class="col-12">
                    <label class="form-label">Zip Code</label>
                    <input type="number" formControlName="zipCode" class="form-control"
                        [ngClass]="{'is-invalid':(addContactForm.controls['zipCode'].touched||addContactForm.controls['zipCode'].dirty) && addContactForm.controls['zipCode'].errors}">

                    <div *ngIf="(addContactForm.controls['zipCode'].touched||addContactForm.controls['zipCode'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="addContactForm.controls['zipCode'].errors?.['required']">
                            zipCode is required.
                        </div>

                    </div>
                    <label for="zipCode" class="text-danger pt-1"></label>
                </div>





                <div class="col-12">
                    <label class="form-label">State</label>
                    <input type="text" formControlName="state" class="form-control"
                        [ngClass]="{'is-invalid':(addContactForm.controls['state'].touched||addContactForm.controls['state'].dirty) && addContactForm.controls['state'].errors}">

                    <div *ngIf="(addContactForm.controls['state'].touched||addContactForm.controls['state'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="addContactForm.controls['state'].errors?.['required']">
                            state is required.
                        </div>

                    </div>
                    <label for="state" class="text-danger pt-1"></label>
                </div>


                <div class="col-12">
                    <label class="form-label">Country</label>
                    <input type="text" formControlName="country" class="form-control"
                        [ngClass]="{'is-invalid':(addContactForm.controls['country'].touched||addContactForm.controls['country'].dirty) && addContactForm.controls['country'].errors}">

                    <div *ngIf="(addContactForm.controls['country'].touched||addContactForm.controls['country'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="addContactForm.controls['country'].errors?.['required']">
                            country is required.
                        </div>

                    </div>
                    <label for="country" class="text-danger pt-1"></label>
                </div>


      
<!-- 
                <div class="col-12">
                    <label class="form-label">Designation</label>
                    <input type="text" formControlName="work" class="form-control"
                        [ngClass]="{'is-invalid':(addContactForm.controls['work'].touched||addContactForm.controls['work'].dirty) && addContactForm.controls['work'].errors}">

                    <div *ngIf="(addContactForm.controls['work'].touched||addContactForm.controls['work'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="addContactForm.controls['work'].errors?.['required']">
                            designation is required.
                        </div>

                    </div>
                    <label for="work" class="text-danger pt-1"></label>
                </div>
         





                <div class="col-12">
                    <label class="form-label">Place</label>
                    <input type="text" formControlName="place" class="form-control"
                        [ngClass]="{'is-invalid':(addContactForm.controls['place'].touched||addContactForm.controls['place'].dirty) && addContactForm.controls['place'].errors}">

                    <div *ngIf="(addContactForm.controls['place'].touched||addContactForm.controls['place'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="addContactForm.controls['place'].errors?.['required']">
                            place is required.
                        </div>

                    </div>
                    <label for="place" class="text-danger pt-1"></label>
                </div> -->

                <div class="col-12">
                    <button type="submit" class="btn btn-primary" >Add</button>
                </div>
            </form>
        </div>
    </div>
</div>